.pagination {
    display: flex;
    align-items: center;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 10px 20px;
    border: 1px solid #d3d3d3;
    color: #1c1c82;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .page-link:hover {
    background-color: #f0f0f0;
  }
  
  .page-link.active {
    background-color: #1c1c82;
    color: white;
  }
  
  .page-link.disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
  }
  

.activePage {
    background-color:#1c1c82;
    color: white; 
  }
  

  .disabledPage {
    color: gray;
  }
  

  .pageClassName {
    background-color: white; 
    border: 1px solid gray; 
  }
  